{% set _id = id is defined ? id : '{{ data.id }}' %}
{% set _display = display is defined ? display : '{{ data.display }}' %}
{% set _name = name is defined ? name : '{{ data.name }}' %}
{% set _height = height is defined ? height : '{{ data.height }}' %}
{% set _url = url is defined ? url : '{{ data.url }}' %}
{% set _width = width is defined ? width : '{{ data.width }}' %}

<fieldset data-u="{{ _id }}">
    {% if can_upload %}
        <a href="#deleteMedia" class="del-media">
            <i class="dashicons dashicons-no-alt"></i>
        </a>
    {% endif %}

    {% if 'image' == type %}
        <figure class="u-block">
            <img src="{{ _display }}" alt="" class="image" />
        </figure>
    {% else %}
        <div class="u-block">
            <a href="{{ _display }}" target="_blank"><small>{{ _name }}</small></a>
        </div>
    {% endif %}

    <div class="u-details">
        <p class="u-texts">
            <span>{{ t_label|raw }}</span>
            <input type="text" name="{{ fieldname }}[{{ _id }}][name]" value="{{ _name }}" class="regular-text" />
        </p>

        <p class="u-texts">
            <small>
                <b>{{ t_url|raw }}</b> <a href="{{ _url }}" target="_blank"><i class="dashicons dashicons-external"></i></a></br/>
                <b>{{ t_dimensions|raw }}</b> {{ _width }}*{{ _height }}px<br/>
                <b>{{ t_size|raw }}</b> {{ size }}
            </small>
        </p>

        <input type="hidden" name="{{ fieldname }}[{{ _id }}][id]" value="{{ _id }}" />
        <input type="hidden" name="{{ fieldname }}[{{ _id }}][height]" value="{{ _height }}" />
        <input type="hidden" name="{{ fieldname }}[{{ _id }}][url]" value="{{ _url }}" />
        <input type="hidden" name="{{ fieldname }}[{{ _id }}][width]" value="{{ _width }}" />
    </div>
</fieldset>
