{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-upload" class="olz-field upload">
        <input type="hidden" name="{{ name }}" value="" />

        <div class="u-results">
            {% for item in value if item.id %}
                {% include '@upload/expand.html.twig' with {
                    'can_upload': can_upload,
                    'display': item.url,
                    'fieldname': name,
                    'id': item.id,
                    'name': item.name,
                    'height': item.height,
                    'size': size,
                    'type': type,
                    'url': item.url,
                    'width': item.width,

                    't_dimensions': t_dimensions,
                    't_size': t_size,
                    't_label': t_label,
                    't_url': t_url,
                } only %}
            {% endfor %}
        </div>

        <div class="hide-if-no-js submitbox">
            {% if can_upload %}
                <a href="#addMedia" class="button add-media" title="{{ t_add_media }}">
                    <i class="dashicons dashicons-upload"></i> {{ t_add_media|raw }}
                </a>

                {% if multiple %}
                    <a href="#deleteMedias" class="submitdelete deletion del-all-medias">
                        {{ t_delete_all|raw }}
                    </a>
                {% endif %}
            {% else %}
                {{ t_cannot_upload|raw }}
            {% endif %}
        </div>

        <script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-upload").zeusUpload({
                        addbutton: ".add-media",
                        container: ".u-results",
                        delallbutton: ".del-all-medias",
                        delbutton: ".del-media",
                        items: "fieldset",
                        size: "{{ size }}",
                        source: "{{ identifier }}-item",

                        // Options usefull for WordPress medialib
                        multiple: {{ multiple ? 'true' : 'false' }},
                        type: "{{ type }}",
                    });
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/html" id="tmpl-{{ identifier }}-item">
        {% include '@upload/expand.html.twig' with {
            'can_upload': can_upload,
            'fieldname': name,
            'size': size,
            'type': type,

            't_dimensions': t_dimensions,
            't_size': t_size,
            't_label': t_label,
            't_url': t_url,
        } only %}
    </script>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
