{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-upload" class="dionysos-field upload {{ type }}">
        <input type="hidden" name="{{ name }}" value="" />

        <div class="listbox">
            {% for item in value if item.id %}
                {% include '@upload/expand.html.twig' with {
                    'can_upload': can_upload,

                    'display': item.url,
                    'fieldname': name,
                    'id': item.id,
                    'name': item.name,
                    'height': item.height,
                    'size': size,
                    'type': type,
                    'url': item.url,
                    'width': item.width,

                    't_editblock_label': t_editblock_label,
                    't_name_label': t_name_label,
                    't_removeblock_label': t_removeblock_label,
                } only %}
            {% endfor %}
        </div>

        <div class="hide-if-no-js submitbox">
            {% if can_upload %}
                {{ multiple ? t_addblocks_description : t_addblock_description }}

                <button type="button" class="zeus-btn add-button has-icon" aria-label="{{ t_addblock_label|raw }}">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" role="img" aria-hidden="true" focusable="false"><path d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7zm1-11H9v3H6v2h3v3h2v-3h3V9h-3V6zM10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 16c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7zm1-11H9v3H6v2h3v3h2v-3h3V9h-3V6z"></path></svg>
                </button>
            {% else %}
                {{ t_cannot_upload|raw }}
            {% endif %}
        </div>

        <script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-upload").dionysosUpload({
                        multiple: {{ multiple ? 'true' : 'false' }},
                        type: "{{ type }}",
                        source: "{{ identifier }}-item",
                    });
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/html" id="tmpl-{{ identifier }}-item">
        {% include '@upload/expand.html.twig' with {
            'can_upload': can_upload,

            'fieldname': name,
            'size': size,
            'type': type,

            't_editblock_label': t_editblock_label,
            't_name_label': t_name_label,
            't_removeblock_label': t_removeblock_label,
        } only %}
    </script>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
